<div id="list_navigation_sidebar">
	<div id="listless_logo_main">
		<span>li</span>
	</div>
	<div id="users_lists_container">
		<%= render 'lists'  %>
	</div>
<a href="#" data-reveal-id="myModal">Click Me For A Modal</a>

</div>

<div id="main_content">
</div>

<%= render 'new_list_form' %>