<% provide(:title, "Listless") %>
<div class="full_page_image">
	<div id="title_panel">
	</div>
	<div id="title_content_container">
			<div id="title">
		    <h1>listless</h1>
		  </div>
			<div id="listless_logo">
				<span>li</span>
			</div>
			<div id="title_panel_divider">
			</div>
			<%= render 'static_pages/sign_in_partial' %>
	</div>
	<div id="chevron_down">
		<%= fa_icon "angle-down" %>
	</div>
</div>

<p>f</p>
<p>f</p>
<p>d</p>
<p>d</p>
