// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* SASS variables */
$listless_blue: #99C5D5;
$dark_listless_blue: #6A99A5;

body{

}

#list_index_container{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#list_navigation_sidebar{
	position: absolute;
	background-color: white;
	left: 0;
	top: 0;
	height: 100%;
	width: 28%;
	overflow-vertical: auto;

}

#users_lists_container{
	position: absolute;
	width: 100%;
	top: 120px;
}

#main_content{
	position: absolute;
	background-color: #c7e9e9;
	left: 28%;
	top: 0;
	height: 100%;
	width: 72%;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 25px;
	overflow: scroll;


}

.task_item{
 	background-color: white;
 	width: 100%;
 	height: 50px;
 	margin-top: 10px;
 	margin-bottom: 10px;
 	padding-left: 15px;
	line-height: 50px;
}

#listless_logo_main{
	position: absolute;
  top: 15px;
  right: 15px;
	width: 80px;
	height: 80px;
	background-color: $listless_blue;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 50px;
	text-align: center;
	span{
		color: white;
		opacity: 1;
		font-size: 45px;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 3px;
    text-align: center;
    line-height: 80px;
	}
}

.list_navigation_item{
	width: 100%;
	height: 40px;
	font-size: 20px;
	text-align: right;
	padding-right: 20px;
	line-height: 40px;
	font-family: "Muli";
	color: #bdbdbd;
	a{
		color: #aaaaaa;
	}
	a:hover{
		color: #848484;
	}
}

.highlight{
	background-color: #eaf3f6;
}

#new_list_button_container{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 90px;
	padding-bottom: 40px;
	line-height: 90px;
	font-size: 50px;
	text-align: center;
	color: #bdbdbd;
	a{
		color: #aaaaaa;
	}
	a:hover{
		color: #848484;
	} 
}